@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

*{
  @apply font-rubik
}

.container{
  @apply max-w-[600px] px-3 md:max-w-[1280px] md:px-0 m-auto
}

.cart-item {
  @apply absolute text-[12px] text-white top-0 right-[-5px] bg-red-500 w-6 h-6 flex 
  items-center justify-center rounded-3xl
}

.hero-section {
  @apply w-full md:h-[300px] h-[200px] flex items-center
}

.hero-container {
  @apply w-full md:max-w-[1024px] max-w-[600px] m-auto flex justify-center items-center relative
}

.hero-framer {
  @apply absolute md:mt-[300px] mt-[160px] md:w-[500px] w-[250px]
}

/* New Product details start */
.product-details-section{
  @apply w-full md:py-16;
}

.product-details-container{
  @apply gap-8 md:max-w-[1024px] m-auto max-w-[600px] px-4 md:px-0  grid md:grid-cols-2 grid-cols-1 ;
}

.small-images-container{
  @apply flex gap-[5px] justify-center;
}

.quantity-desc{
  @apply p-[6px] flex border border-black ;
}

.quantity-desc span{
  @apply text-[16px] cursor-pointer;
  padding: 6px 12px;
}

.quantity-desc .num{
  @apply text-[20px];
}

.quantity-desc .plus{
 color: rgb(49, 168, 49);
}

.quantity-desc .minus{
  color: red;
}

.btn{
  @apply  text-black md:w-1/2 p-5 text-xl font-bold w-full border border-4 border-black;
}

.add-to-cart{
  @apply hover:bg-black  hover:text-white;
}