@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

*{
  @apply font-rubik
}

.container{
  @apply max-w-[600px] px-3 md:max-w-[1280px] md:px-0 m-auto
}

.cart-item {
  @apply absolute text-[12px] text-white top-0 right-[-5px] bg-red-500 w-6 h-6 flex 
  items-center justify-center rounded-3xl
}

.hero-section {
  @apply w-full md:h-[300px] h-[200px] flex items-center
}

.hero-container {
  @apply w-full md:max-w-[1024px] max-w-[600px] m-auto flex justify-center items-center relative
}

.hero-framer {
  @apply absolute md:mt-[300px] mt-[160px] md:w-[500px] w-[250px]
}

/* New Product details start */
.product-details-section{
  @apply w-full md:py-16;
}

.product-details-container{
  @apply gap-8 md:max-w-[1024px] m-auto max-w-[600px] px-4 md:px-0  grid md:grid-cols-2 grid-cols-1 ;
}

.small-images-container{
  @apply flex gap-[5px] justify-center;
}

/* cart  */
.cart-wrapper{
  @apply w-[100vw] bg-black/50 fixed right-0 top-0 z-50;
}

.cart-container{
  @apply h-screen w-[600px] bg-white float-right px-10 py-12 relative border-l;
}

.cart-heading{
  @apply flex items-center text-lg font-medium cursor-pointer gap-2;
}

.cart-heading .heading{
  @apply ml-2;
}

.cart-num-items{
  @apply ml-2 text-red-500;
}

.product-container{
  @apply mt-4 overflow-auto max-h-[100vh] px-4 py-2;
}

.empty-cart{
  @apply my-10 text-center;
}

.empty-cart h3{
  @apply text-xl font-semibold;
}

.item-desc .flex{
  display: flex;
  justify-content: space-between;
  color: #324d67;
}

.item-desc .bottom{
  margin-top: 60px;
}

.top{
  flex-wrap: wrap;
  gap: 10px;
}

.flex h5{
  font-size: 24px;
}

.flex h4{
  font-size: 20px;
}